@mixin set-mat-nav-list-theme($theme) {
    $palette-primary: map-get($theme, primary);
    $palette-accent: map-get($theme, accent);
    $palette-warn: map-get($theme, warn);
    $palette-bg: map-get($theme, background);
  
   
    $color-primary: mat-color($palette-primary);
    $color-primary-state: mat-color($palette-primary, 900);
    $color-accent: mat-color($palette-accent);
    $color-bg: mat-color($palette-bg, background);

    .mat-nav-list {
        .mat-list-item {
            
            &.active {
                @include mat-elevation-transition;
                @include mat-elevation(8);
                mat-icon {
                    color:  mat-color($palette-accent);
                }
            }
            &:hover {
                cursor: pointer;
                @include mat-elevation-transition;
                @include mat-elevation(8);
    
            }
            
        }
    }
}
